{% extends "ponto_app/base.html" %}
{% load static %}

{% block title %}Cadastro de Novo Usuário | LabRobo Point{% endblock %}

{% block content %}
    <div class="card" style="max-width: 600px; margin: 0 auto;">
        <h1>Cadastrar Novo Usuário</h1>
        <p>Preencha os dados abaixo para criar uma nova conta de acesso.</p>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-success{% endif %}" style="text-align: left;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="email-aluno">E-mail</label>
                <input type="email" id="email-aluno" name="email" required>
            </div>
            <div class="form-group">
                <label for="cpf">CPF (Apenas números)</label>
                <input type="text" id="cpf" name="cpf" placeholder="Apenas números" required maxlength="11">
            </div>
            
            <div class="form-group">
                <label for="funcao">Função no Laboratório</label>
                <select id="funcao" name="nivel_acesso" required 
                    {% if user.perfil.nivel_acesso != 'ADMIN' %} disabled {% endif %}
                >
                    <option value="ALUNO">Aluno</option>
                    {% if user.perfil.nivel_acesso == 'ADMIN' %}
                        <option value="ESTAGIARIO">Estagiário</option>
                        <option value="PROFESSOR">Professor</option>
                        <option value="ADMIN">Administrador</option>
                    {% endif %}
                </select>
                {% if user.perfil.nivel_acesso != 'ADMIN' %}
                    <input type="hidden" name="nivel_acesso" value="ALUNO">
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="password">Senha Inicial</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit" class="btn btn-success" style="width: 100%;">Cadastrar Usuário</button>
        </form>
    </div>
{% endblock content %}